<div class="container px-lg-5">
  <div class="row">
    <h2 class="fs-4 fw-bold mgin">Search results:</h2>
  </div>

  <div class="row">
    <div class="pt-4">
      <% if videos.any?%>
      <%  videos.last(5).each do |video| %>
        <div class="col-sm-12">
          <div class="row mb-3">
            <label class="col-sm-3"}><strong>Video</strong></label>
            <div class="col-sm-9">
              <a href="https://www.youtube.com/watch?v=<%= video.video_id %>">
                <%= video.title %>
              </a>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3"><strong>Channel</strong></label>
            <div class="col-sm-9"><%= video.channel_title %></div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3"><strong>Publish date</strong></label>
            <div class="col-sm-9"><%= video.publish_date %></div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3"><strong>View count</strong></label>
            <div class="col-sm-9"><%= video.view_count %></div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3"><strong>Like count</strong></label>
            <div class="col-sm-9"><%= video.like_count %></div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3"><strong>Comment count</strong></label>
            <div class="col-sm-9"><%= video.comment_count %></div>
          </div>
        <br/>
        <br/>
      <% end %>
    </div>
  </div>
<% end %>
</div>
