<div class="container px-lg-5 main">
  <form action="/search" id="search-form" method="POST" role="form">
    <div class="row vertical-align query-bar">
      <div class="col-md-2 col-sm-3">
        <div class="fs-4 fw-bold">Search video</div>
      </div>
      <div class="col-md-8 col-sm-6">
        <input class="form-control" id="search_input" name="search_keyword" type="text" />
      </div>
      <div class="col-md-2 col-sm-3">
        <button class="submit btn btn-lg btn-primary" id="search-form-submit" type="submit" value="submit">Get videos</button>
      </div>
    </div>
  </form>

  <div>
    <% if videos.any? %>
      <div class="fs-4 fw-bold mgin">Search record</div> 
      <table>
        <tr>
          <th>Video</th>
          <th>Channel title</th>
          <th>Publish date</th>
          <th>View count</th>
          <th>Like count</th>
          <th>Comment count</th>
        </tr>
        <% videos.each do |video| %>
          <tr>
            <td>
              <a href="https://www.youtube.com/watch?v=<%= video.video_id %>">
                <%= video.title %>
              </a>          
            </td>
            <td><%= video.channel_title %></td>
            <td><%= video.publish_date %></td>
            <td><%= video.view_count %></td>
            <td><%= video.like_count %></td>
            <td><%= video.comment_count %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>