<div class="container">
  <div class="row">
    <p>Search results:</p>
  </div>

  <div class="row top-buffer">
    <div class="col-lg-11 col-md-10 col-sm-6">
      <div class="row">
        <% search.videos.each do |video| %>
          <div class="col-sm-12">
            <p>Song name: <%= video.title %></p>
            <p>Link: 
              <a class="search detail" href="https://www.youtube.com/watch?v=<%= video.video_id %>">
                https://www.youtube.com/watch?v=<%= video.video_id %>
              </a>
            </p>
            <p>Publish date: <%= video.publish_date %></p>
            <p>Channel: <%= video.channel_title%></p>
            <br />
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
